# General
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
.ipynb_checkpoints/

# YOLOv5 specific
yolov5/.git
yolov5/.github
yolov5/.dockerignore
yolov5/.gitattributes
yolov5/.gitignore
yolov5/benchmarks.py
yolov5/CITATION.cff
yolov5/CONTRIBUTING.md
yolov5/detect.py
yolov5/export.py
yolov5/LICENSE
yolov5/pyproject.toml
yolov5/README.md
yolov5/README.zh-CN.md
yolov5/requirements.txt
yolov5/train.py
yolov5/tutorial.ipynb
yolov5/val.py
yolov5/classify/
yolov5/segment/

# Exclude everything in the runs directory except the best.pt
yolov5/runs/*
!yolov5/runs/train/exp*/weights/best.pt
