tensorflow
numpy==1.26.4
scikit-learn
scikit-image
matplotlib
ipywidgets
PyMuPDF
pdfplumber
torchvision==0.18.0+cu121
craft-text-detector
pytesseract
rapidocr_onnxruntime
streamlit-elements
pdf2image
torch==2.3.0+cu121 -f https://download.pytorch.org/whl/torch_stable.html
streamlit
