tensorflow
opencv-python-headless  # Use the headless version of OpenCV
numpy
scikit-learn
scikit-image
matplotlib
ipywidgets
PyMuPDF
streamlit
pdfplumber
torchvision==0.16.1
craft-text-detector
pytesseract
rapidocr_onnxruntime
streamlit-elements
pdf2image
torch==2.1.1
